<h3>Can I participate, although  I don't want to pitch an idea?</h3>
<ul><li>YES you can!</li></ul>
<h3>What's the schedule?</h3>
<ul><li>Check the schedule and join the event to learn more about it ;)</li></ul>
<h3>I'm "only" a business/tech/design.. person. Can I still attend? I'm not from Poland, can I still attend?</h3>
<ul><li>Sure, we see it as our mission to connect people from all different backgrounds and cultures.</li></ul>
<h3>Can I only attend the end presentations aka closing ceremony?</h3>
<ul><li>Yes, we've got a guestlist. Send us a mail and we can add you. First come, first serve!</li></ul>
<h3>Is there any accomodation provided?</h3>
<ul><li>No, but we can give you hints and tips. Just give us a buzz!</li></ul>