YAY! {{ParticipantFirstName}}, you made it!

You successfully purchased a ticket of {{EventName}} taking place from the {{Date}}.

Well let us give you a quick glimpse of whats ahead for you: The event brings together the local startup community with other European entrepreneurs and enables you  to connect with experienced entrepreneurs, experts and investors. As such {{EventName}} doesn’t serve as a singular happening but is the beginning of a great journey to build up a local startup ecosystem that helps and supports your future.

It is important to understand that {{EventName}} is more than just a singular event. It‘s an attitude. It means to actively push entrepreneurship in your community and to continuously strive for entrepreneurial change. In the end it depends on you and what you want to get out of this experience. But we really hope you like our vision and will chose to be a vital part of it.

To start off please login at http://startuplive.in/login:
Username: {{ParticipantEmail}}
Password: {{ParticipantPassword}}

and after that please insert your idea here: {{PitcherForm}}

If you have any questions please contact: {{OrganiserEmail}}

Best
{{OrganiserName}} & the {{EventName}} Team